{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="page" class="hide">4</div>
<div class="main-block">
    <div class="services_block">
        <div class="services_logo">
            <div class="title-block">О КОМПАНИИ</div>
            <div class="description-block">
                Автосервис «Автосерволюкс» предлагает  полную диагностику авто, регулярное техобслуживание, а также ремонт любой сложности. Обращаясь к нам, Вы можете быть уверены в качестве работ и безопасности вашего автомобиля после ремонта!​Наш автосервис  представляет Вашему вниманию широкий ассортимент запчастей. Мы предлагаем Вам приобретать детали от производителя или их аналоги по доступным ценам.
            </div>
        </div>
    </div>
</div>
{% endblock %}