{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="page" class="hide">4</div>
<div class="main-block">
    <div class="services_block">
        <div class="about_logo">
            <div class="title-block">О КОМПАНИИ</div>
            <div class="description-block">
                Автосервис «Автосерволюкс» предлагает  полную диагностику авто, регулярное техобслуживание, а также ремонт любой сложности. Обращаясь к нам, Вы можете быть уверены в качестве работ и безопасности вашего автомобиля после ремонта! ​Наш автосервис  представляет Вашему вниманию широкий ассортимент запчастей. Мы предлагаем Вам приобретать детали от производителя или их аналоги по доступным ценам.
            </div>
        </div>
    </div>
    <div class="about-block">
        <div class="description-block">
            <p>Мы предоставляем широкий спектр услуг по техническому обслуживанию, диагностике и ремонту легковых автомобилей как зарубежных, так и отчественных производителей. Одно из главных правил, которыми мы руководствуемся в своей работе  -  предоставление качественных услуг в указанные сроки, выполнение обязательств на услуги и расходные материалы, индивидуальный подход.​ В нашем распоряжении есть все необходимые инструменты и оборудования как для диагностики, так и  для ремонта различных систем автомобиля. Ваш автомобиль будет храниться на специальной территории, которая круглосуточно находится под охраной, чтобы гарантировать сохранность вашего имущества.</p>
        </div>
        <div class="button-block">
            <a href="{% url 'services_page' %}">НАШИ УСЛУГИ</a>
        </div>
        <div class="image-block"><img src="{% static 'img/logos/mechanic-repair-car.jpg' %}"></div>
    </div>
</div>
{% endblock %}