{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="page" class="hide">5</div>
<div class="main-block">
    <div class="services_block">
        <div class="services_logo">
            <div class="title-block">КОНТАКТЫ</div>
            <div class="description-block">
                Если Вы ищете автосервис с командой настоящих профессионалов, которым можно доверять - просто приезжайте к нам!
            </div>
        </div>
    </div>
</div>
{% endblock %}