{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="page" class="hide">3</div>
<div class="main-block">
    <div class="services_block">
        <div class="services_logo">
            <div class="title-block">ЦЕНЫ</div>
            <div class="description-block">
                Мы обслуживаем как иномарки, так и отечественные автомобили, применяя самые современные
приемы диагностики и ремонта с помощью высокотехнологичного оборудования.
            </div>
        </div>
    </div>
</div>
{% endblock %}